:root {
  --color-primary: #6C63FF;
  --color-accent: #D600B4;
  --color-bg: #181818;
  --color-bg-card: #23272F;
  --color-text: #FFFFFF;
  --color-text-accent: #F5EECB;
  --color-text-secondary: #B0B3B8;
}

*{
    margin: 0;
    padding: 0;
  }

  @font-face {
    font-family: MontserratBold;
    src: url("/Montserrat-Bold.ttf");
  }
  @font-face {
    font-family: MontserratRegular;
    src: url("/Montserrat-Regular.ttf");
  }
  a{
    text-decoration: none;
    color: white;
  }

  h1,h2,h3,h4,h5,h6,b{
    font-family: MontserratBold;
  }
  p,span,i,li,a{
    font-family: MontserratRegular;
  }





  /*

  profile

   */



  .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }

  .ant-layout-header {
    padding: 0 20px;
    background: #001529;
  }
  .button-form{
    width: max-content!important;
  }
  .select-form{
    width: 100%;
  }
  .item-form{
    margin: 10px 0;
  }

  .ant-menu-dark.ant-menu-horizontal > .ant-menu-item-selected {
    background-color: #1890ff;
  }

  .ant-layout-sider-trigger {
    background-color: #001529;
  }

  .ant-menu-horizontal {
    border-bottom: none;
  }



  .ant-collapse-header{
    display: flex;
    align-items: center!important;
    color: white!important;
    font-size: 24px!important;
    font-weight: 700;
    font-family: MontserratBold;
  }