.PageName {
    width: 90%;
    height: 60px;
    margin: auto;
    padding-top: 50px;
}

.PageName h1 {
    font-family: MontserratBold;
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 1px;
    color: white;
}

.portfolios {
    width: 95%;
    margin: auto;
    border-radius: 30px;
    padding: 30px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.PortfolioParents {
    width: calc(100% / 3 - 40px);
    height: 350px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.portfoliosChildren {
    width: 100%;
    height: 320px;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
}

.portfoliosChildren img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.PortfolioParents h4 {
    font-family: MontserratRegular;
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    color: white;
    margin-top: 20px;
}

.container {
    width: 90%;
    margin: auto;
    padding: 40px;
    border-radius: 30px;
}

.container h2, .container p {
    color: white;
}

.container input {
    background-color: transparent;
}

@media only screen and (max-width: 1000px) {
    .PortfolioParents {
        width: calc(100% / 2 - 40px);

    }
    .portfolios{
        padding: 0;
    }
}

@media only screen and (max-width: 700px) {
    .PortfolioParents {
        width: calc(100% / 1 - 40px);

    }
}